<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="shortcut icon" type="image/x-icon" href="images\TTeste_logoFavicon.png"
    />
        <title>T Teste</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital@1&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/header.css">
    </head>
    <body>
        <header>
            <img src="images/TTeste_logoBranco.png">
            <h1>T Teste</h1>
            <div id="features">
                <a  class ="nav" href="buscador">Buscador de Questões</a>
                <a class="nav"  href="estatisticas">Estatísticas</a>
            </div>
        </header>
        {{{body}}}
    </body>
</html>