<link rel="stylesheet" href="styles/Contribua.css">
<h2 class="starter">
    Obrigado pela intenção de contribuir conosco!
</h2>
<form>
    <div class="box_de_enunciado">
        <p>
            No momento, nosso banco de questões está completo
        </p>
    </div>

    <div class="respostas">
        <div class="opção">
            <p>Matéria</p>
            <select id="matéria" name="matéria"  size="0" required>
                <option value="Física" selected>Física</option>
            </select>
        </div>
            
        <div class="opção" id="opção_do_conteúdo">
            <p>Conetúdo</p>   
            <select id="conteúdo" name="conteúdo" size="0" required >
                <option value="Mecânica">Mecânica</option>
                <option value="Gravitação">Gravitação</option>
                <option value="Hidrostática">Hidrostática</option>
                <option value="Ondulatória">Ondulatória</option>
                <option value="Óptica">Óptica</option>
                <option value="Termologia">Termologia</option>
                <option value="Eletrostática">Eletrostática</option>
                <option value="Eletrodinâmica">Eletrodinâmica</option>
                <option value="Eletromagnetismo">Eletromagnetismo</option>
                <option value="Física Moderna">Física Moderna</option>
                <option value="Análise Dimensional">Análise Dimensional</option>
            </select>
        </div>
        <button   style="font-family: 'Roboto', sans-serif;" id="bottton" type="submit">
            ok
        </button>
    </div>
</form>
    
<div class="box_de_contato">
    <a class="contato">Alguma dúvida, crítica ou sugestão? Nos mande um e-mail em: </a><a class="mail" href="mailto:contato@tteste.com">contato@tteste.com</a>
</div>
