        <link rel="stylesheet" href="styles/LandingPage.css">
        <div id= "content">
            <div id ="bubble">
            <img src="/images/BolhaDeConversa.png">
            <div class="writing">
                <a class = "introduction"> &nbsp Seja bem vindo ao T Teste! Nós buscamos fornecer ferramentas que facilitem os seus estudos . 
                    Experimente navegar pelo nosso</a>
                <a class="clickable introduction" href="buscador"> banco de questões</a>
                <a class = "introduction">, checar as</a>
                <a class="clickable introduction" href="estatisticas"> estatísticas</a>
                <a class ="introduction"> ou ainda,</a>
                <a class="clickable introduction" href="contribua"> contribuir com nosso banco de dados.</a>
            </div>
            </div>
            <img id ="Mila" src="images/Mila_body.png">
        <div class ="referencia" id ="reference">Icons made by <a class ="referencia" href="https://www.flaticon.com/authors/srip" title="srip">srip
        </a> from <a class ="referencia" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
